button{
    padding: 10px;
    margin: 10px;
    background: crimson;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    outline: none;
    transition: 550ms all  ease;
    cursor: pointer;
}

button:hover{
    color: crimson;
    background: white;
    border: 3px solid crimson;
    transition: 250ms all  ease;
}